@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'); /* Overskrift */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap'); /* Brødtekst */
/* IMPORTER NAGOMI-FONT HER - FONT TIL CTA-KNAPPER */

:root {
    --primaereFarve: #F5F5CD;
    --sekundaereFarve: #7B0005;
    --skriftfarve: #401A16;
}

header {
    display: flex;
    justify-content: center;
    position: fixed; /* Får headeren til at blive ved scroll */
    width: 100%; /* Sikrer, at navigationsbaren er placeret midt på skærmen */
}

nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--skriftfarve);
}

.navigationImage {
    width:20vh;
    height: 20vh;
}

/* OVENSTÅENDE ER STYLING AF HEADER - BRUG HTML-SIDEN TIL AT STYLE MIDLERTIDIGT */