
header {
    display: flex;
    justify-content: center;
    position: fixed; /* Får headeren til at blive ved scroll */
    width: 100%; /* Sikrer, at navigationsbaren er placeret midt på skærmen */
}

nav {
    display: flex;
    justify-content: center;
}

.navigationImage {
    width:20vh;
    height: 20vh;
}