@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap'); /* Overskrift */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap'); /* Brødtekst */
/* IMPORTER NAGOMI-FONT HER - FONT TIL CTA-KNAPPER */



/* Denne side er tilrettet og puttet i fælles CSS*/


#top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
}

#text{
    width: 550px;
    padding-top: 200px;
}

.shape {
	width: 700px;
	height: 700px;
    position: absolute;
    top: 150px;
    left: -10%;
	background:var(--sekundaereFarve);
    border-radius: 50%; /* Gør den rund */
    z-index: -1;
}

img{
    width: 120%;
}

.navigationImage{
    width: auto;
}

button{
    display: flex;
}